@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input,
textarea {
    outline: none;
}

.App {
    min-height: 100vh;
    overflow: hidden;
}